* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 245, 245);
}

html {
  font-size: 62.5%;
}

.header {
  background-color: #6050dc;
  height: 100vh;
  width: 100vw;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.animate {
  stroke-width: 1;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: dash 3s ease-in forwards;
  animation-delay: 2s;
  stroke: #fff;
  fill: transparent;
}

.heading {
  font-weight: 400;
  color: #eee;
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  animation: moveInBottom 2s ease-in forwards;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes moveInBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
